<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
    <h1>Here is your list of foods</h1>
        <nav>
            <a href="index.html">Enter Food</a>
            <a href="foodlist.html">Look at Foods</a>
        </nav>
        <script>
            fetch('/getData').then((foods)=>{
                foods.json().then((theFoods)=>{
                    for(let food of theFoods.food){
                        let element = document.createElement('p')
                        element.innerHTML = food.food
                        document.getElementById('container').append(element)
                        let deleteButton = documnet.createElement('button')
                        deleteButton.innerText = "Delete Entry"
                        deleteButton.addEventListener('click', function deleteFood(){
                            location.reload()
                            fetch('deleteFood',{
                            method:"POST",
                            headers:{
                                'Content-type':'application/json'
                            },
                            body:JSON.stringify({
                                _id:food._id,
                                food:food.food
                            })
                            })
                        

                        })
                        element.appendChild(deleteButton)
                    }
                })
            })
        </script>
        </div>
</body>
</html>