
<div class="posts">
    <div class="row justify-content-center">
        {{#each post}}

       
            <div class="col-lg-7" style="margin-top:50px;">
                <div class="card">
                    <img src="{{this.image}}" alt="Image from site" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{this.author}}</h5>
                        {{#if this.comments}}
                        <ul class="list-group">
                            <!-- logic for list goes here-->
                            {{#each this.comments}}
                            <li class="list-group-item">{{getShortComment this}}</li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <ul class="list-group">
                            <li class="list-group-item">Add your comment here</li>
                        </ul>
                        {{/if}}
                    
                    </div>
                </div>
            </div> 
        {{/each}}
    </div>

</div>